### trade based simulation

# data import using yfinance

## 라이브러리 임포트

In [162]:
!pip install yfinance
!pip install pandas-datareader

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.69)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.7.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)

In [163]:
import pandas as pd
import numpy as np
from datetime import datetime
import math
import yfinance as yf
import pandas_datareader as pdr

In [164]:
current_date = datetime.now().strftime("%Y-%m-%d-%H-%M-%S")

## 데이터 임포트

In [165]:
tickers = ["SPY", "QQQ", "GLD", "LQD", "EEM"]
risk_free_asset = "TB3MS"

In [166]:
divs = []
for ticker in tickers:
  div = yf.Ticker(ticker).dividends
  div.index = pd.to_datetime(div.index).strftime('%Y-%m')
  if not div.index.is_unique:
    div = div.groupby(div.index).sum()
  divs.append(div)

In [167]:
dividends_df = pd.concat(divs, axis=1)
dividends_df.columns = [["Dividend"] * len(tickers), tickers]
dividends_df.index.name = "Date"
dividends_df.sort_index(inplace=True)

In [168]:
dividends_df

        Dividend
             SPY    QQQ GLD    LQD    EEM
Date
1993-03    0.213    NaN NaN    NaN    NaN
1993-06    0.318    NaN NaN    NaN    NaN
1993-09    0.286    NaN NaN    NaN    NaN
1993-12    0.317    NaN NaN    NaN    NaN
1994-03    0.271    NaN NaN    NaN    NaN
...          ...    ...  ..    ...    ...
2021-08      NaN    NaN NaN  0.243    NaN
2021-09    1.428  0.414 NaN  0.234    NaN
2021-10      NaN    NaN NaN  0.255    NaN
2021-11      NaN    NaN NaN  0.262    NaN
2021-12    1.633  0.491 NaN  0.495  0.733

[250 rows x 5 columns]

In [169]:
tickers_df = yf.download(" ".join(tickers), period='max', interval='1mo')

[*********************100%***********************]  5 of 5 completed

In [170]:
tickers_df.index = pd.to_datetime(tickers_df.index).strftime('%Y-%m')

In [171]:
tickers_df.drop(columns=["Adj Close", "High", "Low", "Open", "Volume"], inplace=True)
tickers_df.dropna(how="all", inplace=True)

In [172]:
if not tickers_df.index.is_unique:
    tickers_df = tickers_df.groupby(tickers_df.index).last()

In [173]:
# tickers_df = pd.concat([tickers_df, dividends_df], axis=1)

In [174]:
# tickers_df.columns = tickers_df.columns.swaplevel(0,1)
# tickers_df.sort_index(axis=1, level=0, inplace=True)

In [175]:
tb3ms_df = pdr.DataReader(risk_free_asset, "fred", tickers_df.index[0], tickers_df.index[-1] )
tb3ms_df["RoR12"] = tb3ms_df[risk_free_asset].map(lambda x: x / 100)
tb3ms_df["CRoR"] = (1 + tb3ms_df["RoR12"] / 12).cumprod()
tb3ms_df.index = pd.to_datetime(tb3ms_df.index).strftime('%Y-%m')

In [176]:
tb3ms_df

         TB3MS   RoR12      CRoR
DATE
1993-02   2.93  0.0293  1.002442
1993-03   2.95  0.0295  1.004906
1993-04   2.87  0.0287  1.007309
1993-05   2.96  0.0296  1.009794
1993-06   3.07  0.0307  1.012377
...        ...     ...       ...
2021-08   0.05  0.0005  1.912575
2021-09   0.04  0.0004  1.912639
2021-10   0.05  0.0005  1.912718
2021-11   0.05  0.0005  1.912798
2021-12   0.06  0.0006  1.912894

[347 rows x 3 columns]

In [177]:
tickers_df[("Close", risk_free_asset)] = tb3ms_df["CRoR"]

In [178]:
tickers_df

             Close
               EEM         GLD         LQD         QQQ         SPY     TB3MS
Date
1993-02        NaN         NaN         NaN         NaN   44.406250  1.002442
1993-03        NaN         NaN         NaN         NaN   45.187500  1.004906
1993-04        NaN         NaN         NaN         NaN   44.031250  1.007309
1993-05        NaN         NaN         NaN         NaN   45.218750  1.009794
1993-06        NaN         NaN         NaN         NaN   45.062500  1.012377
...            ...         ...         ...         ...         ...       ...
2021-09  50.380001  164.220001  133.029999  357.959991  429.140015  1.912639
2021-10  50.919998  166.649994  133.479996  386.109985  459.250000  1.912718
2021-11  48.840000  165.500000  133.059998  393.820007  455.559998  1.912798
2021-12  48.849998  170.960007  132.520004  397.850006  474.959991  1.912894
2022-01  47.290001  167.100006  127.699997  351.799988  441.950012       NaN

[348 rows x 6 columns]

# backtesting

In [179]:
exclude_period, look_back = 3, 12

In [259]:
ror_df = tickers_df.apply(lambda x: round((x.shift(exclude_period) - x.shift(look_back)) / x.shift(look_back), 4), axis=0)

In [260]:
ror_df.columns = ror_df.columns.map(lambda x: x[1])

In [261]:
# tickers_df = pd.concat([tickers_df, ror_df], axis=1)

In [262]:
ror_df

            EEM     GLD     LQD     QQQ     SPY   TB3MS
Date
1993-02     NaN     NaN     NaN     NaN     NaN     NaN
1993-03     NaN     NaN     NaN     NaN     NaN     NaN
1993-04     NaN     NaN     NaN     NaN     NaN     NaN
1993-05     NaN     NaN     NaN     NaN     NaN     NaN
1993-06     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...
2021-09  0.2509 -0.0649 -0.0026  0.2757  0.2782  0.0004
2021-10  0.1541 -0.0362  0.0170  0.3534  0.3429  0.0004
2021-11  0.0755  0.0181 -0.0230  0.2681  0.2472  0.0004
2021-12 -0.0250 -0.0793 -0.0369  0.1409  0.1478  0.0003
2022-01 -0.0448 -0.0345 -0.0156  0.2275  0.2410  0.0003

[348 rows x 6 columns]

In [263]:
# ror_df.max(axis=1)

In [280]:
winners = ror_df.idxmax(axis=1)

In [281]:
winners[:look_back] = risk_free_asset

In [285]:
tickers_df["Buys"] = winners

In [292]:
tickers_df

             Close                          ...                         Buys
               EEM         GLD         LQD  ...         SPY     TB3MS
Date                                        ...
1993-02        NaN         NaN         NaN  ...   44.406250  1.002442  TB3MS
1993-03        NaN         NaN         NaN  ...   45.187500  1.004906  TB3MS
1993-04        NaN         NaN         NaN  ...   44.031250  1.007309  TB3MS
1993-05        NaN         NaN         NaN  ...   45.218750  1.009794  TB3MS
1993-06        NaN         NaN         NaN  ...   45.062500  1.012377  TB3MS
...            ...         ...         ...  ...         ...       ...    ...
2021-09  50.380001  164.220001  133.029999  ...  429.140015  1.912639    SPY
2021-10  50.919998  166.649994  133.479996  ...  459.250000  1.912718    QQQ
2021-11  48.840000  165.500000  133.059998  ...  455.559998  1.912798    QQQ
2021-12  48.849998  170.960007  132.520004  ...  474.959991  1.912894    SPY
2022-01  47.290001  167.100006  127.699997  ...  441.950012       NaN    SPY

[348 rows x 7 columns]

In [336]:
idx, cols = pd.factorize(winners)

In [338]:
cols = cols.map(lambda x: ("Close", x))

In [343]:
tickers_df.reindex(cols, axis=1).to_numpy()[np.arange(len(idx)), idx]

array([  1.00244167,   1.004906  ,   1.0073094 ,   1.0097941 ,
         1.01237749,   1.01494218,   1.01749645,   1.0199978 ,
         1.02256479,   1.02520642,   1.02782069,   1.03037311,
        46.8125    ,  44.59375   ,  45.09375   ,  45.8125    ,
         1.04653863,   1.05031489,   1.05423607,   1.05829487,
         1.06266034,  45.59375   ,   1.07232584,   1.07742833,
         1.08260896,   1.08777842,  51.59375   ,  53.640625  ,
        54.40625   ,  56.15625   ,  56.40625   ,  58.484375  ,
        58.3125    ,  60.90625   ,  61.484375  ,  63.671875  ,
        63.875     ,  64.6875    ,  65.390625  ,  66.875     ,
        67.109375  ,  64.09375   ,  65.328125  ,  68.625     ,
        70.84375   ,  76.015625  ,  73.84375   ,  78.40625   ,
        79.15625   ,  75.375     ,  80.09375   ,  85.15625   ,
        88.3125    ,  95.3125    ,  90.375     ,  94.375     ,
        92.0625    ,  95.625     ,  97.0625    ,  98.3125    ,
       105.125     , 109.9375    , 111.34375   , 109.03125   ,
       113.3125    , 111.78125   ,  96.        , 101.75      ,
       110.        ,   1.30876036, 123.3125    , 127.65625   ,
       123.5625    , 128.375     , 133.25      , 130.203125  ,
       137.        , 132.75      , 132.0625    , 128.75      ,
       137.        , 139.28125   , 146.875     , 139.5625    ,
       137.4375    , 150.375     ,  94.75      ,  83.125     ,
        93.4375    ,  89.4375    , 101.625     ,  88.75      ,
        81.703125  ,  62.984375  ,   1.4579795 ,   1.46423666,
         1.47019122,   1.47560643,   1.48036526,   1.48483103,
         1.48914941,   1.49350517,   1.49768699,   1.5009819 ,
         1.50368367,   1.50602691,   1.50814789,   1.5102216 ,
         1.51238625,   1.51464222,   1.51680059,   1.51898731,
         1.52113921,   1.5232688 ,   1.52532522,   1.52739712,
         1.52940819,   1.53097583,   1.53249405,   1.53398823,
         1.53548387,   1.53692978,   1.53837706,   1.53974878,
         1.54092925,  31.79999924,  33.38999939,  32.41999817,
        35.18000031,  35.38000107,  36.45999908,  37.06999969,
        36.56999969,  35.84000015,  34.77000046,  17.79444313,
        17.95888901,  17.30555534,  17.91666794,  19.16666794,
       113.19999695,  21.67333221,  22.42777824,  22.30888939,
        24.46888924,  22.53333282,  22.25222206,  22.95555687,
        23.86666679,  25.70000076,  26.04000092,  28.29333305,
        26.5       ,  28.03333282,  29.41666794,  33.5933342 ,
        32.29999924,  33.        ,  35.15000153,  31.23333359,
        31.29999924,  63.15999985,  62.29000092,  59.47000122,
        60.24000168,  64.38999939,  63.20999908, 143.75      ,
        66.48000336,  38.83333206, 148.28999329,  42.31999969,
        43.87666702,  44.18999863,  44.65000153,  49.81666565,
        55.72999954,  51.46666718,  50.09999847,  45.63000107,
        46.54000092,  44.79333115,  86.65000153,  87.44999695,
        91.40000153,  90.08000183,  81.70999908,  85.06999969,
        71.33999634,  80.30999756,  86.51999664,   1.79769906,
         1.79814848,   1.79846316,  87.26999664,  96.19999695,
         1.79924261,   1.79951249,  93.40000153, 106.68000031,
        37.56999969,  40.52000046,  41.5       ,  38.27999878,
        38.95999908,  42.11999893,  42.04999924,  45.59999847,
        42.70999908,  45.81000137, 122.08000183, 127.91000366,
       132.61999512, 135.41999817, 138.72000122, 129.86999512,
       137.66000366, 139.86000061,  59.08000183,  58.36000061,
        57.04999924, 158.28999329,  55.06000137,  52.49000168,
       167.33999634, 170.13000488, 151.99000549, 169.30999756,
       164.28999329, 162.11999512, 161.88000488,  62.06000137,
        64.16000366,  64.80000305,  68.16000366,  68.56999969,
        64.94999695,  65.80000305,  65.12999725, 149.69999695,
       120.33000183, 119.90000153, 159.67999268, 163.44999695,
       160.41999817, 168.71000671, 163.6499939 , 168.00999451,
       175.78999329, 181.        ,  87.95999908,  86.26999664,
        90.33999634,  87.66999817,  87.38999939,  91.30999756,
        93.91000366,  95.01999664,  99.77999878,  98.79000092,
       101.40000153, 106.01000214, 103.25      , 101.09999847,
       108.40000153, 105.59999847, 107.62999725, 110.05000305,
       107.06999969, 111.94999695, 104.30999756, 101.76000214,
       113.33000183,   1.80740228,   1.8077487 , 104.12999725,
       102.5       , 109.19999695,   1.80939129, 116.05999756,
       126.47000122, 128.97999573, 124.77999878, 125.63999939,
       121.94000244, 111.75      , 109.61000061,  37.34000015,
        37.99000168, 235.74000549, 135.99000549, 141.28999329,
       137.63999939, 143.22999573, 146.19999695, 145.44999695,
       152.1499939 ,  46.09999847,  47.11999893,  51.02999878,
        48.02000046,  48.27999878,  46.91999817, 170.07000732,
        43.33000183, 176.44999695, 186.6499939 , 185.78999329,
       169.82000732, 169.36999512, 154.25999451,   1.86994687,
         1.87367118,   1.87741852, 189.53999329, 275.26998901,
       186.74000549, 191.1000061 , 143.75      , 138.86999512,
       142.42999268, 137.86000061, 212.61000061, 219.07000732,
       205.80000305, 190.3999939 , 158.80000305, 162.91000366,
       167.36999512, 185.42999268, 294.88000488, 277.83999634,
       269.38000488, 299.61999512, 313.73999023, 314.55999756,
       314.14001465, 319.13000488,  53.97999954,  54.86999893,
        55.15000153, 438.51000977,  52.40999985, 429.14001465,
       386.10998535, 393.82000732, 474.95999146, 441.95001221])