### trade based simulation

# data import using yfinance

## 라이브러리 임포트

In [2]:
!pip install yfinance
!pip install pandas-datareader

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 43.4 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.7.1 requests-2.27.1 yfinance-0.1.70
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.11)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
import math
import yfinance as yf
import pandas_datareader as pdr
from collections import deque

In [4]:
current_date = datetime.now().strftime("%Y-%m-%d-%H-%M-%S")

## 데이터 임포트

In [5]:
tickers = ["SPY", "QQQ", "GLD", "LQD", "EEM"]
risk_free_asset = "TB3MS"

In [6]:
divs = []
for ticker in tickers:
  div = yf.Ticker(ticker).dividends
  div.index = pd.to_datetime(div.index).strftime('%Y-%m')
  if not div.index.is_unique:
    div = div.groupby(div.index).sum()
  divs.append(div)

In [7]:
dividends_df = pd.concat(divs, axis=1)
dividends_df.columns = [["Dividend"] * len(tickers), tickers]
dividends_df.index.name = "Date"
dividends_df.sort_index(inplace=True)

In [8]:
dividends_df

        Dividend
             SPY    QQQ GLD    LQD    EEM
Date
1993-03    0.213    NaN NaN    NaN    NaN
1993-06    0.318    NaN NaN    NaN    NaN
1993-09    0.286    NaN NaN    NaN    NaN
1993-12    0.317    NaN NaN    NaN    NaN
1994-03    0.271    NaN NaN    NaN    NaN
...          ...    ...  ..    ...    ...
2021-09    1.428  0.414 NaN  0.234    NaN
2021-10      NaN    NaN NaN  0.255    NaN
2021-11      NaN    NaN NaN  0.262    NaN
2021-12    1.633  0.491 NaN  0.495  0.733
2022-02      NaN    NaN NaN  0.242    NaN

[251 rows x 5 columns]

In [9]:
tickers_df = yf.download(" ".join(tickers), period='max', interval='1mo')

[*********************100%***********************]  5 of 5 completed

In [10]:
tickers_df.index = pd.to_datetime(tickers_df.index).strftime('%Y-%m')

In [11]:
opens_df = tickers_df["Open"]
closes_df = tickers_df["Close"]
# tickers_df.drop(columns=["Adj Close", "High", "Low", "Open", "Volume"], inplace=True)
# tickers_df.dropna(how="all", inplace=True)

In [12]:
closes_df

               EEM         GLD         LQD         QQQ         SPY
Date
1993-02        NaN         NaN         NaN         NaN   44.406250
1993-03        NaN         NaN         NaN         NaN   45.187500
1993-03        NaN         NaN         NaN         NaN         NaN
1993-04        NaN         NaN         NaN         NaN   44.031250
1993-05        NaN         NaN         NaN         NaN   45.218750
...            ...         ...         ...         ...         ...
2021-12        NaN         NaN         NaN         NaN         NaN
2021-12        NaN         NaN         NaN         NaN         NaN
2022-01  48.840000  168.089996  127.760002  363.049988  449.910004
2022-02  48.380001  174.740005  123.730003  347.489990  439.019989
2022-02  48.380001  174.740005  123.730003  347.489990  439.019989

[611 rows x 5 columns]

In [13]:
if not closes_df.index.is_unique:
    closes_df = closes_df.groupby(closes_df.index).last()

In [48]:
tb3ms_df = pdr.DataReader(risk_free_asset, "fred", closes_df.index[0], closes_df.index[-1] )
tb3ms_df["RoR12"] = tb3ms_df[risk_free_asset].map(lambda x: x / 100)
tb3ms_df["CRoR"] = (1 + tb3ms_df["RoR12"] / 12).cumprod()
tb3ms_df.index = pd.to_datetime(tb3ms_df.index).strftime('%Y-%m')

In [49]:
tb3ms_df

         TB3MS   RoR12      CRoR
DATE
1993-02   2.93  0.0293  1.002442
1993-03   2.95  0.0295  1.004906
1993-04   2.87  0.0287  1.007309
1993-05   2.96  0.0296  1.009794
1993-06   3.07  0.0307  1.012377
...        ...     ...       ...
2021-09   0.04  0.0004  1.912639
2021-10   0.05  0.0005  1.912718
2021-11   0.05  0.0005  1.912798
2021-12   0.06  0.0006  1.912894
2022-01   0.15  0.0015  1.913133

[348 rows x 3 columns]

In [50]:
closes_df[risk_free_asset] = tb3ms_df["CRoR"]

In [51]:
closes_df

               EEM         GLD         LQD         QQQ         SPY     TB3MS
Date
1993-02        NaN         NaN         NaN         NaN   44.406250  1.002442
1993-03        NaN         NaN         NaN         NaN   45.187500  1.004906
1993-04        NaN         NaN         NaN         NaN   44.031250  1.007309
1993-05        NaN         NaN         NaN         NaN   45.218750  1.009794
1993-06        NaN         NaN         NaN         NaN   45.062500  1.012377
...            ...         ...         ...         ...         ...       ...
2021-10  50.919998  166.649994  133.479996  386.109985  459.250000  1.912718
2021-11  48.840000  165.500000  133.059998  393.820007  455.559998  1.912798
2021-12  48.849998  170.960007  132.520004  397.850006  474.959991  1.912894
2022-01  48.840000  168.089996  127.760002  363.049988  449.910004  1.913133
2022-02  48.380001  174.740005  123.730003  347.489990  439.019989       NaN

[349 rows x 6 columns]

# backtesting

In [52]:
exclude_period, look_back = 3, 12

In [53]:
ror_df = closes_df.apply(lambda x: round((x.shift(exclude_period) - x.shift(look_back)) / x.shift(look_back), 4), axis=0)

In [54]:
ror_df

            EEM     GLD     LQD     QQQ     SPY   TB3MS
Date
1993-02     NaN     NaN     NaN     NaN     NaN     NaN
1993-03     NaN     NaN     NaN     NaN     NaN     NaN
1993-04     NaN     NaN     NaN     NaN     NaN     NaN
1993-05     NaN     NaN     NaN     NaN     NaN     NaN
1993-06     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...
2021-10  0.1541 -0.0362  0.0170  0.3534  0.3429  0.0004
2021-11  0.0755  0.0181 -0.0230  0.2681  0.2472  0.0004
2021-12 -0.0250 -0.0793 -0.0369  0.1409  0.1478  0.0003
2022-01 -0.0448 -0.0345 -0.0156  0.2275  0.2410  0.0003
2022-02 -0.0910  0.0228  0.0060  0.2536  0.1977  0.0003

[349 rows x 6 columns]

In [55]:
winners = ror_df.idxmax(axis=1)

In [56]:
winners[:look_back] = risk_free_asset

In [57]:
winners = winners.to_numpy()

In [58]:
winners

array(['TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'SPY', 'SPY', 'SPY',
       'SPY', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'SPY', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'TB3MS', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'SPY', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD',
       'GLD', 'SPY', 'GLD', 'EEM', 'SPY', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'GLD', 'GLD',
       'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'TB3MS', 'TB3MS',
       'TB3MS', 'GLD', 'GLD', 'TB3MS', 'TB3MS', 'GLD', 'LQD', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'QQQ', 'QQQ', 'QQQ',
       'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'QQQ',
       'QQQ', 'QQQ', 'GLD', 'QQQ', 'QQQ', 'GLD', 'GLD', 'GLD', 'GLD',
       'GLD', 'GLD', 'GLD', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'SPY', 'LQD', 'LQD', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'TB3MS', 'TB3MS', 'QQQ', 'QQQ', 'QQQ', 'TB3MS', 'GLD', 'GLD',
       'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'EEM', 'EEM', 'SPY',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'QQQ', 'EEM', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'TB3MS', 'TB3MS', 'TB3MS', 'QQQ', 'SPY',
       'QQQ', 'QQQ', 'GLD', 'GLD', 'GLD', 'GLD', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'GLD', 'GLD', 'GLD', 'GLD', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'EEM', 'EEM', 'EEM', 'SPY', 'EEM',
       'SPY', 'QQQ', 'QQQ', 'SPY', 'SPY', 'QQQ'], dtype=object)

In [59]:
masking = np.roll(winners, 1) != winners

In [60]:
buy_tickers = winners[masking]

In [61]:
buy_indices = np.where(masking)[0]

In [73]:
holdings = deque([])
transactions = []
for ticker, index in zip(buy_tickers, buy_indices):
  date_ = closes_df.index[index]
  price_ = closes_df[ticker][index]
  new_buy = {"ticker": ticker, "buy_date": date_, "buy_price": price_}
  if len(holdings):
    # pop existing one
    new_sell = holdings.popleft()
    new_sell["sell_date"] = date_
    new_sell["sell_price"] = closes_df[new_sell["ticker"]][index]
    new_sell["ror"] = (new_sell["sell_price"] - new_sell["buy_price"]) / new_sell["buy_price"] + 1
    transactions.append(new_sell)
  # add new ticker
  holdings.append(new_buy)

In [74]:
transactions

[{'buy_date': '1993-02',
  'buy_price': 1.0024416666666667,
  'ror': 1.0306472100900856,
  'sell_date': '1994-02',
  'sell_price': 1.0331637070280557,
  'ticker': 'TB3MS'},
 {'buy_date': '1994-02',
  'buy_price': 46.8125,
  'ror': 0.9499332443257676,
  'sell_date': '1994-06',
  'sell_price': 44.46875,
  'ticker': 'SPY'},
 {'buy_date': '1994-06',
  'buy_price': 1.046538629375492,
  'ror': 1.0198810358564117,
  'sell_date': '1994-11',
  'sell_price': 1.067344901391226,
  'ticker': 'TB3MS'},
 {'buy_date': '1994-11',
  'buy_price': 45.59375,
  'ror': 0.9993145990404386,
  'sell_date': '1994-12',
  'sell_price': 45.5625,
  'ticker': 'SPY'},
 {'buy_date': '1994-12',
  'buy_price': 1.072325844264385,
  'ror': 1.0191865184036843,
  'sell_date': '1995-04',
  'sell_price': 1.09290004381011,
  'ticker': 'TB3MS'},
 {'buy_date': '1995-04',
  'buy_price': 51.59375,
  'ror': 2.250757116898849,
  'sell_date': '1998-11',
  'sell_price': 116.125,
  'ticker': 'SPY'},
 {'buy_date': '1998-11',
  'buy_price': 1.3087603551154026,
  'ror': 1.0036583333333333,
  'sell_date': '1998-12',
  'sell_price': 1.3135482367478664,
  'ticker': 'TB3MS'},
 {'buy_date': '1998-12',
  'buy_price': 123.3125,
  'ror': 1.176634566649772,
  'sell_date': '2000-04',
  'sell_price': 145.09375,
  'ticker': 'SPY'},
 {'buy_date': '2000-04',
  'buy_price': 94.75,
  'ror': 0.616094986807388,
  'sell_date': '2000-12',
  'sell_price': 58.375,
  'ticker': 'QQQ'},
 {'buy_date': '2000-12',
  'buy_price': 1.4579794985814138,
  'ror': 1.057686306666081,
  'sell_date': '2003-07',
  'sell_price': 1.5420849510494405,
  'ticker': 'TB3MS'},
 {'buy_date': '2003-07',
  'buy_price': 31.799999237060547,
  'ror': 1.1493710727660718,
  'sell_date': '2004-05',
  'sell_price': 36.54999923706055,
  'ticker': 'QQQ'},
 {'buy_date': '2004-05',
  'buy_price': 17.794443130493164,
  'ror': 1.1077739832077325,
  'sell_date': '2004-10',
  'sell_price': 19.712221145629883,
  'ticker': 'EEM'},
 {'buy_date': '2004-10',
  'buy_price': 113.19999694824219,
  'ror': 1.0414311180904945,
  'sell_date': '2004-11',
  'sell_price': 117.88999938964844,
  'ticker': 'SPY'},
 {'buy_date': '2004-11',
  'buy_price': 21.67333221435547,
  'ror': 1.4780068199891085,
  'sell_date': '2006-07',
  'sell_price': 32.03333282470703,
  'ticker': 'EEM'},
 {'buy_date': '2006-07',
  'buy_price': 63.15999984741211,
  'ror': 1.026440816777662,
  'sell_date': '2007-01',
  'sell_price': 64.83000183105469,
  'ticker': 'GLD'},
 {'buy_date': '2007-01',
  'buy_price': 143.75,
  'ror': 0.9803825577445652,
  'sell_date': '2007-02',
  'sell_price': 140.92999267578125,
  'ticker': 'SPY'},
 {'buy_date': '2007-02',
  'buy_price': 66.4800033569336,
  'ror': 0.9888687506649038,
  'sell_date': '2007-03',
  'sell_price': 65.73999786376953,
  'ticker': 'GLD'},
 {'buy_date': '2007-03',
  'buy_price': 38.83333206176758,
  'ror': 1.0372532214137138,
  'sell_date': '2007-04',
  'sell_price': 40.279998779296875,
  'ticker': 'EEM'},
 {'buy_date': '2007-04',
  'buy_price': 148.2899932861328,
  'ror': 1.0339201177815167,
  'sell_date': '2007-05',
  'sell_price': 153.32000732421875,
  'ticker': 'SPY'},
 {'buy_date': '2007-05',
  'buy_price': 42.31999969482422,
  'ror': 1.1551669588083002,
  'sell_date': '2008-04',
  'sell_price': 48.88666534423828,
  'ticker': 'EEM'},
 {'buy_date': '2008-04',
  'buy_price': 86.6500015258789,
  'ror': 1.0537795262625944,
  'sell_date': '2009-01',
  'sell_price': 91.30999755859375,
  'ticker': 'GLD'},
 {'buy_date': '2009-01',
  'buy_price': 1.7976990599792697,
  'ror': 1.0005584337558333,
  'sell_date': '2009-04',
  'sell_price': 1.798702955817192,
  'ticker': 'TB3MS'},
 {'buy_date': '2009-04',
  'buy_price': 87.2699966430664,
  'ror': 1.0448035271285876,
  'sell_date': '2009-06',
  'sell_price': 91.18000030517578,
  'ticker': 'GLD'},
 {'buy_date': '2009-06',
  'buy_price': 1.799242607174754,
  'ror': 1.0002916879166668,
  'sell_date': '2009-08',
  'sell_price': 1.7997674245024189,
  'ticker': 'TB3MS'},
 {'buy_date': '2009-08',
  'buy_price': 93.4000015258789,
  'ror': 1.0583511441028417,
  'sell_date': '2009-09',
  'sell_price': 98.8499984741211,
  'ticker': 'GLD'},
 {'buy_date': '2009-09',
  'buy_price': 106.68000030517578,
  'ror': 0.9906261717553493,
  'sell_date': '2009-10',
  'sell_price': 105.68000030517578,
  'ticker': 'LQD'},
 {'buy_date': '2009-10',
  'buy_price': 37.56999969482422,
  'ror': 1.014106967889326,
  'sell_date': '2010-05',
  'sell_price': 38.099998474121094,
  'ticker': 'EEM'},
 {'buy_date': '2010-05',
  'buy_price': 45.599998474121094,
  'ror': 0.9530701872531218,
  'sell_date': '2010-08',
  'sell_price': 43.459999084472656,
  'ticker': 'QQQ'},
 {'buy_date': '2010-08',
  'buy_price': 122.08000183105469,
  'ror': 1.248115930797993,
  'sell_date': '2011-04',
  'sell_price': 152.3699951171875,
  'ticker': 'GLD'},
 {'buy_date': '2011-04',
  'buy_price': 59.08000183105469,
  'ror': 0.9817196716726065,
  'sell_date': '2011-07',
  'sell_price': 58.0,
  'ticker': 'QQQ'},
 {'buy_date': '2011-07',
  'buy_price': 158.2899932861328,
  'ror': 1.1227494393751578,
  'sell_date': '2011-08',
  'sell_price': 177.72000122070312,
  'ticker': 'GLD'},
 {'buy_date': '2011-08',
  'buy_price': 55.060001373291016,
  'ror': 1.0524881823023409,
  'sell_date': '2011-10',
  'sell_price': 57.95000076293945,
  'ticker': 'QQQ'},
 {'buy_date': '2011-10',
  'buy_price': 167.33999633789062,
  'ror': 0.9060595101904896,
  'sell_date': '2012-05',
  'sell_price': 151.6199951171875,
  'ticker': 'GLD'},
 {'buy_date': '2012-05',
  'buy_price': 62.060001373291016,
  'ror': 1.0775056601168738,
  'sell_date': '2013-01',
  'sell_price': 66.87000274658203,
  'ticker': 'QQQ'},
 {'buy_date': '2013-01',
  'buy_price': 149.6999969482422,
  'ror': 1.0127588757584929,
  'sell_date': '2013-02',
  'sell_price': 151.61000061035156,
  'ticker': 'SPY'},
 {'buy_date': '2013-02',
  'buy_price': 120.33000183105469,
  'ror': 1.0149588248564188,
  'sell_date': '2013-04',
  'sell_price': 122.12999725341797,
  'ticker': 'LQD'},
 {'buy_date': '2013-04',
  'buy_price': 159.67999267578125,
  'ror': 1.1566258198446064,
  'sell_date': '2013-12',
  'sell_price': 184.69000244140625,
  'ticker': 'SPY'},
 {'buy_date': '2013-12',
  'buy_price': 87.95999908447266,
  'ror': 1.2962710076152564,
  'sell_date': '2015-11',
  'sell_price': 114.0199966430664,
  'ticker': 'QQQ'},
 {'buy_date': '2015-11',
  'buy_price': 1.8074022791283015,
  'ror': 1.000408374861111,
  'sell_date': '2016-01',
  'sell_price': 1.8081403767830124,
  'ticker': 'TB3MS'},
 {'buy_date': '2016-01',
  'buy_price': 104.12999725341797,
  'ror': 1.0152694133220383,
  'sell_date': '2016-04',
  'sell_price': 105.72000122070312,
  'ticker': 'QQQ'},
 {'buy_date': '2016-04',
  'buy_price': 1.8093912933952507,
  'ror': 1.000225,
  'sell_date': '2016-05',
  'sell_price': 1.8097984064362644,
  'ticker': 'TB3MS'},
 {'buy_date': '2016-05',
  'buy_price': 116.05999755859375,
  'ror': 0.9956057684166462,
  'sell_date': '2017-01',
  'sell_price': 115.55000305175781,
  'ticker': 'GLD'},
 {'buy_date': '2017-01',
  'buy_price': 37.34000015258789,
  'ror': 1.054900889895108,
  'sell_date': '2017-03',
  'sell_price': 39.38999938964844,
  'ticker': 'EEM'},
 {'buy_date': '2017-03',
  'buy_price': 235.74000549316406,
  'ror': 1.0099261741043715,
  'sell_date': '2017-04',
  'sell_price': 238.0800018310547,
  'ticker': 'SPY'},
 {'buy_date': '2017-04',
  'buy_price': 135.99000549316406,
  'ror': 1.1408926217322892,
  'sell_date': '2017-11',
  'sell_price': 155.14999389648438,
  'ticker': 'QQQ'},
 {'buy_date': '2017-11',
  'buy_price': 46.099998474121094,
  'ror': 0.9911062936880081,
  'sell_date': '2018-05',
  'sell_price': 45.689998626708984,
  'ticker': 'EEM'},
 {'buy_date': '2018-05',
  'buy_price': 170.07000732421875,
  'ror': 1.0092902128783563,
  'sell_date': '2018-06',
  'sell_price': 171.64999389648438,
  'ticker': 'QQQ'},
 {'buy_date': '2018-06',
  'buy_price': 43.33000183105469,
  'ror': 1.0353103788285631,
  'sell_date': '2018-07',
  'sell_price': 44.86000061035156,
  'ticker': 'EEM'},
 {'buy_date': '2018-07',
  'buy_price': 176.4499969482422,
  'ror': 0.9530178893198592,
  'sell_date': '2019-01',
  'sell_price': 168.16000366210938,
  'ticker': 'QQQ'},
 {'buy_date': '2019-01',
  'buy_price': 1.8699468704980613,
  'ror': 1.0059869080391666,
  'sell_date': '2019-04',
  'sell_price': 1.8811420704498605,
  'ticker': 'TB3MS'},
 {'buy_date': '2019-04',
  'buy_price': 189.5399932861328,
  'ror': 0.9177482489705711,
  'sell_date': '2019-05',
  'sell_price': 173.9499969482422,
  'ticker': 'QQQ'},
 {'buy_date': '2019-05',
  'buy_price': 275.2699890136719,
  'ror': 1.0644095313472313,
  'sell_date': '2019-06',
  'sell_price': 293.0,
  'ticker': 'SPY'},
 {'buy_date': '2019-06',
  'buy_price': 186.74000549316406,
  'ror': 1.003909155542816,
  'sell_date': '2019-08',
  'sell_price': 187.47000122070312,
  'ticker': 'QQQ'},
 {'buy_date': '2019-08',
  'buy_price': 143.75,
  'ror': 0.9940869140625,
  'sell_date': '2019-12',
  'sell_price': 142.89999389648438,
  'ticker': 'GLD'},
 {'buy_date': '2019-12',
  'buy_price': 212.61000061035156,
  'ror': 1.0296317343195147,
  'sell_date': '2020-04',
  'sell_price': 218.91000366210938,
  'ticker': 'QQQ'},
 {'buy_date': '2020-04',
  'buy_price': 158.8000030517578,
  'ror': 1.1639168657371681,
  'sell_date': '2020-08',
  'sell_price': 184.8300018310547,
  'ticker': 'GLD'},
 {'buy_date': '2020-08',
  'buy_price': 294.8800048828125,
  'ror': 1.1461950103015452,
  'sell_date': '2021-04',
  'sell_price': 337.989990234375,
  'ticker': 'QQQ'},
 {'buy_date': '2021-04',
  'buy_price': 53.97999954223633,
  'ror': 0.955909575985583,
  'sell_date': '2021-07',
  'sell_price': 51.599998474121094,
  'ticker': 'EEM'},
 {'buy_date': '2021-07',
  'buy_price': 438.510009765625,
  'ror': 1.0297598401458241,
  'sell_date': '2021-08',
  'sell_price': 451.55999755859375,
  'ticker': 'SPY'},
 {'buy_date': '2021-08',
  'buy_price': 52.40999984741211,
  'ror': 0.961266956969909,
  'sell_date': '2021-09',
  'sell_price': 50.380001068115234,
  'ticker': 'EEM'},
 {'buy_date': '2021-09',
  'buy_price': 429.1400146484375,
  'ror': 1.0701635464505201,
  'sell_date': '2021-10',
  'sell_price': 459.25,
  'ticker': 'SPY'},
 {'buy_date': '2021-10',
  'buy_price': 386.1099853515625,
  'ror': 1.0304058977942867,
  'sell_date': '2021-12',
  'sell_price': 397.8500061035156,
  'ticker': 'QQQ'},
 {'buy_date': '2021-12',
  'buy_price': 474.9599914550781,
  'ror': 0.9243304634327174,
  'sell_date': '2022-02',
  'sell_price': 439.0199890136719,
  'ticker': 'SPY'}]

In [75]:
len(transactions)

63

In [76]:
np.prod(list(map(lambda x: x["ror"], transactions)))

16.32007140622449