### trade based simulation

# data import using yfinance

## 라이브러리 임포트

In [1]:
!pip install yfinance
!pip install pandas-datareader

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.3 MB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 10.8 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.8.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)

In [2]:
import math
import time
from datetime import datetime
import pandas as pd
import numpy as np
import yfinance as yf
import pandas_datareader as pdr
from collections import deque

In [3]:
# current_date = datetime.now().strftime("%Y-%m-%d-%H-%M-%S")

## 데이터 임포트

In [4]:
tickers = ["SPY", "QQQ", "GLD", "LQD", "EEM"]
risk_free_asset = "TB3MS"

In [5]:
divs = []
for ticker in tickers:
  div = yf.Ticker(ticker).dividends
  div.index = pd.to_datetime(div.index).strftime('%Y-%m')
  if not div.index.is_unique:
    div = div.groupby(div.index).sum()
  divs.append(div)

In [6]:
dividends_df = pd.concat(divs, axis=1)
dividends_df.columns = [["Dividend"] * len(tickers), tickers]
dividends_df.index.name = "Date"
dividends_df.sort_index(inplace=True)

In [7]:
dividends_df

        Dividend
             SPY    QQQ GLD    LQD    EEM
Date
1993-03    0.213    NaN NaN    NaN    NaN
1993-06    0.318    NaN NaN    NaN    NaN
1993-09    0.286    NaN NaN    NaN    NaN
1993-12    0.317    NaN NaN    NaN    NaN
1994-03    0.271    NaN NaN    NaN    NaN
...          ...    ...  ..    ...    ...
2021-09    1.428  0.414 NaN  0.234    NaN
2021-10      NaN    NaN NaN  0.255    NaN
2021-11      NaN    NaN NaN  0.262    NaN
2021-12    1.633  0.491 NaN  0.495  0.733
2022-02      NaN    NaN NaN  0.242    NaN

[251 rows x 5 columns]

In [8]:
tickers_df = yf.download(" ".join(tickers), period='max', interval='1mo')

[*********************100%***********************]  5 of 5 completed

In [9]:
tickers_df.index = pd.to_datetime(tickers_df.index).strftime('%Y-%m')

In [10]:
opens_df = tickers_df["Open"]
closes_df = tickers_df["Close"]
# tickers_df.drop(columns=["Adj Close", "High", "Low", "Open", "Volume"], inplace=True)
# tickers_df.dropna(how="all", inplace=True)

In [11]:
closes_df

               EEM         GLD         LQD         QQQ         SPY
Date
1993-02        NaN         NaN         NaN         NaN   44.406250
1993-03        NaN         NaN         NaN         NaN   45.187500
1993-03        NaN         NaN         NaN         NaN         NaN
1993-04        NaN         NaN         NaN         NaN   44.031250
1993-05        NaN         NaN         NaN         NaN   45.218750
...            ...         ...         ...         ...         ...
2021-12        NaN         NaN         NaN         NaN         NaN
2021-12        NaN         NaN         NaN         NaN         NaN
2022-01  48.840000  168.089996  127.760002  363.049988  449.910004
2022-02  48.720001  177.119995  123.680000  341.510010  434.230011
2022-02  48.720001  177.119995  123.680000  341.510010  434.230011

[611 rows x 5 columns]

In [12]:
if not closes_df.index.is_unique:
    closes_df = closes_df.groupby(closes_df.index).last()

In [13]:
tb3ms_df = pdr.DataReader(risk_free_asset, "fred", closes_df.index[0], closes_df.index[-1] )
tb3ms_df["RoR12"] = tb3ms_df[risk_free_asset].map(lambda x: x / 100)
tb3ms_df["CRoR"] = (1 + tb3ms_df["RoR12"] / 12).cumprod()
tb3ms_df.index = pd.to_datetime(tb3ms_df.index).strftime('%Y-%m')

In [14]:
tb3ms_df

         TB3MS   RoR12      CRoR
DATE
1993-02   2.93  0.0293  1.002442
1993-03   2.95  0.0295  1.004906
1993-04   2.87  0.0287  1.007309
1993-05   2.96  0.0296  1.009794
1993-06   3.07  0.0307  1.012377
...        ...     ...       ...
2021-09   0.04  0.0004  1.912639
2021-10   0.05  0.0005  1.912718
2021-11   0.05  0.0005  1.912798
2021-12   0.06  0.0006  1.912894
2022-01   0.15  0.0015  1.913133

[348 rows x 3 columns]

In [15]:
closes_df[risk_free_asset] = tb3ms_df["CRoR"]

In [16]:
closes_df.drop(closes_df.tail(1).index, inplace=True)

In [17]:
closes_df

               EEM         GLD         LQD         QQQ         SPY     TB3MS
Date
1993-02        NaN         NaN         NaN         NaN   44.406250  1.002442
1993-03        NaN         NaN         NaN         NaN   45.187500  1.004906
1993-04        NaN         NaN         NaN         NaN   44.031250  1.007309
1993-05        NaN         NaN         NaN         NaN   45.218750  1.009794
1993-06        NaN         NaN         NaN         NaN   45.062500  1.012377
...            ...         ...         ...         ...         ...       ...
2021-09  50.380001  164.220001  133.029999  357.959991  429.140015  1.912639
2021-10  50.919998  166.649994  133.479996  386.109985  459.250000  1.912718
2021-11  48.840000  165.500000  133.059998  393.820007  455.559998  1.912798
2021-12  48.849998  170.960007  132.520004  397.850006  474.959991  1.912894
2022-01  48.840000  168.089996  127.760002  363.049988  449.910004  1.913133

[348 rows x 6 columns]

# calculate ror and find winners

In [18]:
exclude_period, look_back = 3, 12

In [19]:
ror_df = closes_df.apply(lambda x: round((x.shift(exclude_period) - x.shift(look_back)) / x.shift(look_back), 4), axis=0)

In [20]:
ror_df

            EEM     GLD     LQD     QQQ     SPY   TB3MS
Date
1993-02     NaN     NaN     NaN     NaN     NaN     NaN
1993-03     NaN     NaN     NaN     NaN     NaN     NaN
1993-04     NaN     NaN     NaN     NaN     NaN     NaN
1993-05     NaN     NaN     NaN     NaN     NaN     NaN
1993-06     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...
2021-09  0.2509 -0.0649 -0.0026  0.2757  0.2782  0.0004
2021-10  0.1541 -0.0362  0.0170  0.3534  0.3429  0.0004
2021-11  0.0755  0.0181 -0.0230  0.2681  0.2472  0.0004
2021-12 -0.0250 -0.0793 -0.0369  0.1409  0.1478  0.0003
2022-01 -0.0448 -0.0345 -0.0156  0.2275  0.2410  0.0003

[348 rows x 6 columns]

In [21]:
winners = ror_df.idxmax(axis=1)

In [22]:
winners[:look_back] = risk_free_asset

In [23]:
winners = winners.to_numpy()

In [24]:
winners

array(['TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'SPY', 'SPY', 'SPY',
       'SPY', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'SPY', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'TB3MS', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS', 'TB3MS',
       'TB3MS', 'TB3MS', 'TB3MS', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'SPY', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD',
       'GLD', 'SPY', 'GLD', 'EEM', 'SPY', 'EEM', 'EEM', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'GLD', 'GLD',
       'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'TB3MS', 'TB3MS',
       'TB3MS', 'GLD', 'GLD', 'TB3MS', 'TB3MS', 'GLD', 'LQD', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'EEM', 'QQQ', 'QQQ', 'QQQ',
       'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'QQQ',
       'QQQ', 'QQQ', 'GLD', 'QQQ', 'QQQ', 'GLD', 'GLD', 'GLD', 'GLD',
       'GLD', 'GLD', 'GLD', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'SPY', 'LQD', 'LQD', 'SPY', 'SPY', 'SPY', 'SPY',
       'SPY', 'SPY', 'SPY', 'SPY', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'TB3MS', 'TB3MS', 'QQQ', 'QQQ', 'QQQ', 'TB3MS', 'GLD', 'GLD',
       'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'GLD', 'EEM', 'EEM', 'SPY',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'QQQ', 'EEM', 'EEM',
       'EEM', 'EEM', 'EEM', 'EEM', 'QQQ', 'EEM', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'TB3MS', 'TB3MS', 'TB3MS', 'QQQ', 'SPY',
       'QQQ', 'QQQ', 'GLD', 'GLD', 'GLD', 'GLD', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'GLD', 'GLD', 'GLD', 'GLD', 'QQQ', 'QQQ', 'QQQ', 'QQQ',
       'QQQ', 'QQQ', 'QQQ', 'QQQ', 'EEM', 'EEM', 'EEM', 'SPY', 'EEM',
       'SPY', 'QQQ', 'QQQ', 'SPY', 'SPY'], dtype=object)

In [25]:
masking = np.roll(winners, 1) != winners

In [26]:
buy_tickers = winners[masking]

In [27]:
buy_tickers

array(['TB3MS', 'SPY', 'TB3MS', 'SPY', 'TB3MS', 'SPY', 'TB3MS', 'SPY',
       'QQQ', 'TB3MS', 'QQQ', 'EEM', 'SPY', 'EEM', 'GLD', 'SPY', 'GLD',
       'EEM', 'SPY', 'EEM', 'GLD', 'TB3MS', 'GLD', 'TB3MS', 'GLD', 'LQD',
       'EEM', 'QQQ', 'GLD', 'QQQ', 'GLD', 'QQQ', 'GLD', 'QQQ', 'SPY',
       'LQD', 'SPY', 'QQQ', 'TB3MS', 'QQQ', 'TB3MS', 'GLD', 'EEM', 'SPY',
       'QQQ', 'EEM', 'QQQ', 'EEM', 'QQQ', 'TB3MS', 'QQQ', 'SPY', 'QQQ',
       'GLD', 'QQQ', 'GLD', 'QQQ', 'EEM', 'SPY', 'EEM', 'SPY', 'QQQ',
       'SPY'], dtype=object)

In [28]:
buy_indices = np.where(masking)[0]

In [29]:
buy_indices, len(buy_indices)

(array([  0,  12,  16,  21,  22,  26,  69,  70,  86,  94, 125, 135, 140,
        141, 161, 167, 168, 169, 170, 171, 182, 191, 194, 196, 198, 199,
        200, 207, 210, 218, 221, 222, 224, 231, 239, 240, 242, 250, 273,
        275, 278, 279, 287, 289, 290, 297, 303, 304, 305, 311, 314, 315,
        316, 318, 322, 326, 330, 338, 341, 342, 343, 344, 346]), 63)

# transaction history (accessing df)

In [30]:
stamp = time.time()
holdings = deque([])
transactions = []
for ticker, index in zip(buy_tickers, buy_indices):
  date_ = closes_df.index[index]
  price_ = closes_df[ticker][index]
  new_buy = {"ticker": ticker, "buy_date": date_, "buy_price": price_}
  if len(holdings):
    # pop existing one
    new_sell = holdings.popleft()
    new_sell["sell_date"] = date_
    new_sell["sell_price"] = closes_df[new_sell["ticker"]][index]
    new_sell["ror"] = (new_sell["sell_price"] - new_sell["buy_price"]) / new_sell["buy_price"] + 1
    transactions.append(new_sell)
  # add new ticker
  holdings.append(new_buy)
print(time.time()-stamp)

0.002810955047607422

In [31]:
len(transactions), np.prod(list(map(lambda x: x["ror"], transactions)))

(62, 17.656100336254294)

# transactions history (itertuples)

In [32]:
stamp = time.time()
holdings = deque([])
transactions = []
for row, ticker in zip(closes_df[masking].itertuples(), buy_tickers):
  new_buy = {"ticker": ticker, "buy_date": row.Index, "buy_price": getattr(row, ticker)}
  if len(holdings):
    # pop existing one
    new_sell = holdings.popleft()
    new_sell["sell_date"] = row.Index
    new_sell["sell_price"] = getattr(row, new_sell["ticker"])
    new_sell["ror"] = (new_sell["sell_price"] - new_sell["buy_price"]) / new_sell["buy_price"] + 1
    transactions.append(new_sell)
  # add new ticker
  holdings.append(new_buy)
print(time.time()-stamp)

0.002992868423461914

In [33]:
len(transactions), np.prod(list(map(lambda x: x["ror"], transactions)))

(62, 17.656100336254294)

In [34]:
transactions

[{'buy_date': '1993-02',
  'buy_price': 1.0024416666666667,
  'ror': 1.0306472100900856,
  'sell_date': '1994-02',
  'sell_price': 1.0331637070280557,
  'ticker': 'TB3MS'},
 {'buy_date': '1994-02',
  'buy_price': 46.8125,
  'ror': 0.9499332443257676,
  'sell_date': '1994-06',
  'sell_price': 44.46875,
  'ticker': 'SPY'},
 {'buy_date': '1994-06',
  'buy_price': 1.046538629375492,
  'ror': 1.0198810358564117,
  'sell_date': '1994-11',
  'sell_price': 1.067344901391226,
  'ticker': 'TB3MS'},
 {'buy_date': '1994-11',
  'buy_price': 45.59375,
  'ror': 0.9993145990404386,
  'sell_date': '1994-12',
  'sell_price': 45.5625,
  'ticker': 'SPY'},
 {'buy_date': '1994-12',
  'buy_price': 1.072325844264385,
  'ror': 1.0191865184036843,
  'sell_date': '1995-04',
  'sell_price': 1.09290004381011,
  'ticker': 'TB3MS'},
 {'buy_date': '1995-04',
  'buy_price': 51.59375,
  'ror': 2.250757116898849,
  'sell_date': '1998-11',
  'sell_price': 116.125,
  'ticker': 'SPY'},
 {'buy_date': '1998-11',
  'buy_price': 1.3087603551154026,
  'ror': 1.0036583333333333,
  'sell_date': '1998-12',
  'sell_price': 1.3135482367478664,
  'ticker': 'TB3MS'},
 {'buy_date': '1998-12',
  'buy_price': 123.3125,
  'ror': 1.176634566649772,
  'sell_date': '2000-04',
  'sell_price': 145.09375,
  'ticker': 'SPY'},
 {'buy_date': '2000-04',
  'buy_price': 94.75,
  'ror': 0.616094986807388,
  'sell_date': '2000-12',
  'sell_price': 58.375,
  'ticker': 'QQQ'},
 {'buy_date': '2000-12',
  'buy_price': 1.4579794985814138,
  'ror': 1.057686306666081,
  'sell_date': '2003-07',
  'sell_price': 1.5420849510494405,
  'ticker': 'TB3MS'},
 {'buy_date': '2003-07',
  'buy_price': 31.799999237060547,
  'ror': 1.1493710727660718,
  'sell_date': '2004-05',
  'sell_price': 36.54999923706055,
  'ticker': 'QQQ'},
 {'buy_date': '2004-05',
  'buy_price': 17.794443130493164,
  'ror': 1.1077739832077325,
  'sell_date': '2004-10',
  'sell_price': 19.712221145629883,
  'ticker': 'EEM'},
 {'buy_date': '2004-10',
  'buy_price': 113.19999694824219,
  'ror': 1.0414311180904945,
  'sell_date': '2004-11',
  'sell_price': 117.88999938964844,
  'ticker': 'SPY'},
 {'buy_date': '2004-11',
  'buy_price': 21.67333221435547,
  'ror': 1.4780068199891085,
  'sell_date': '2006-07',
  'sell_price': 32.03333282470703,
  'ticker': 'EEM'},
 {'buy_date': '2006-07',
  'buy_price': 63.15999984741211,
  'ror': 1.026440816777662,
  'sell_date': '2007-01',
  'sell_price': 64.83000183105469,
  'ticker': 'GLD'},
 {'buy_date': '2007-01',
  'buy_price': 143.75,
  'ror': 0.9803825577445652,
  'sell_date': '2007-02',
  'sell_price': 140.92999267578125,
  'ticker': 'SPY'},
 {'buy_date': '2007-02',
  'buy_price': 66.4800033569336,
  'ror': 0.9888687506649038,
  'sell_date': '2007-03',
  'sell_price': 65.73999786376953,
  'ticker': 'GLD'},
 {'buy_date': '2007-03',
  'buy_price': 38.83333206176758,
  'ror': 1.0372532214137138,
  'sell_date': '2007-04',
  'sell_price': 40.279998779296875,
  'ticker': 'EEM'},
 {'buy_date': '2007-04',
  'buy_price': 148.2899932861328,
  'ror': 1.0339201177815167,
  'sell_date': '2007-05',
  'sell_price': 153.32000732421875,
  'ticker': 'SPY'},
 {'buy_date': '2007-05',
  'buy_price': 42.31999969482422,
  'ror': 1.1551669588083002,
  'sell_date': '2008-04',
  'sell_price': 48.88666534423828,
  'ticker': 'EEM'},
 {'buy_date': '2008-04',
  'buy_price': 86.6500015258789,
  'ror': 1.0537795262625944,
  'sell_date': '2009-01',
  'sell_price': 91.30999755859375,
  'ticker': 'GLD'},
 {'buy_date': '2009-01',
  'buy_price': 1.7976990599792697,
  'ror': 1.0005584337558333,
  'sell_date': '2009-04',
  'sell_price': 1.798702955817192,
  'ticker': 'TB3MS'},
 {'buy_date': '2009-04',
  'buy_price': 87.2699966430664,
  'ror': 1.0448035271285876,
  'sell_date': '2009-06',
  'sell_price': 91.18000030517578,
  'ticker': 'GLD'},
 {'buy_date': '2009-06',
  'buy_price': 1.799242607174754,
  'ror': 1.0002916879166668,
  'sell_date': '2009-08',
  'sell_price': 1.7997674245024189,
  'ticker': 'TB3MS'},
 {'buy_date': '2009-08',
  'buy_price': 93.4000015258789,
  'ror': 1.0583511441028417,
  'sell_date': '2009-09',
  'sell_price': 98.8499984741211,
  'ticker': 'GLD'},
 {'buy_date': '2009-09',
  'buy_price': 106.68000030517578,
  'ror': 0.9906261717553493,
  'sell_date': '2009-10',
  'sell_price': 105.68000030517578,
  'ticker': 'LQD'},
 {'buy_date': '2009-10',
  'buy_price': 37.56999969482422,
  'ror': 1.014106967889326,
  'sell_date': '2010-05',
  'sell_price': 38.099998474121094,
  'ticker': 'EEM'},
 {'buy_date': '2010-05',
  'buy_price': 45.599998474121094,
  'ror': 0.9530701872531218,
  'sell_date': '2010-08',
  'sell_price': 43.459999084472656,
  'ticker': 'QQQ'},
 {'buy_date': '2010-08',
  'buy_price': 122.08000183105469,
  'ror': 1.248115930797993,
  'sell_date': '2011-04',
  'sell_price': 152.3699951171875,
  'ticker': 'GLD'},
 {'buy_date': '2011-04',
  'buy_price': 59.08000183105469,
  'ror': 0.9817196716726065,
  'sell_date': '2011-07',
  'sell_price': 58.0,
  'ticker': 'QQQ'},
 {'buy_date': '2011-07',
  'buy_price': 158.2899932861328,
  'ror': 1.1227494393751578,
  'sell_date': '2011-08',
  'sell_price': 177.72000122070312,
  'ticker': 'GLD'},
 {'buy_date': '2011-08',
  'buy_price': 55.060001373291016,
  'ror': 1.0524881823023409,
  'sell_date': '2011-10',
  'sell_price': 57.95000076293945,
  'ticker': 'QQQ'},
 {'buy_date': '2011-10',
  'buy_price': 167.33999633789062,
  'ror': 0.9060595101904896,
  'sell_date': '2012-05',
  'sell_price': 151.6199951171875,
  'ticker': 'GLD'},
 {'buy_date': '2012-05',
  'buy_price': 62.060001373291016,
  'ror': 1.0775056601168738,
  'sell_date': '2013-01',
  'sell_price': 66.87000274658203,
  'ticker': 'QQQ'},
 {'buy_date': '2013-01',
  'buy_price': 149.6999969482422,
  'ror': 1.0127588757584929,
  'sell_date': '2013-02',
  'sell_price': 151.61000061035156,
  'ticker': 'SPY'},
 {'buy_date': '2013-02',
  'buy_price': 120.33000183105469,
  'ror': 1.0149588248564188,
  'sell_date': '2013-04',
  'sell_price': 122.12999725341797,
  'ticker': 'LQD'},
 {'buy_date': '2013-04',
  'buy_price': 159.67999267578125,
  'ror': 1.1566258198446064,
  'sell_date': '2013-12',
  'sell_price': 184.69000244140625,
  'ticker': 'SPY'},
 {'buy_date': '2013-12',
  'buy_price': 87.95999908447266,
  'ror': 1.2962710076152564,
  'sell_date': '2015-11',
  'sell_price': 114.0199966430664,
  'ticker': 'QQQ'},
 {'buy_date': '2015-11',
  'buy_price': 1.8074022791283015,
  'ror': 1.000408374861111,
  'sell_date': '2016-01',
  'sell_price': 1.8081403767830124,
  'ticker': 'TB3MS'},
 {'buy_date': '2016-01',
  'buy_price': 104.12999725341797,
  'ror': 1.0152694133220383,
  'sell_date': '2016-04',
  'sell_price': 105.72000122070312,
  'ticker': 'QQQ'},
 {'buy_date': '2016-04',
  'buy_price': 1.8093912933952507,
  'ror': 1.000225,
  'sell_date': '2016-05',
  'sell_price': 1.8097984064362644,
  'ticker': 'TB3MS'},
 {'buy_date': '2016-05',
  'buy_price': 116.05999755859375,
  'ror': 0.9956057684166462,
  'sell_date': '2017-01',
  'sell_price': 115.55000305175781,
  'ticker': 'GLD'},
 {'buy_date': '2017-01',
  'buy_price': 37.34000015258789,
  'ror': 1.054900889895108,
  'sell_date': '2017-03',
  'sell_price': 39.38999938964844,
  'ticker': 'EEM'},
 {'buy_date': '2017-03',
  'buy_price': 235.74000549316406,
  'ror': 1.0099261741043715,
  'sell_date': '2017-04',
  'sell_price': 238.0800018310547,
  'ticker': 'SPY'},
 {'buy_date': '2017-04',
  'buy_price': 135.99000549316406,
  'ror': 1.1408926217322892,
  'sell_date': '2017-11',
  'sell_price': 155.14999389648438,
  'ticker': 'QQQ'},
 {'buy_date': '2017-11',
  'buy_price': 46.099998474121094,
  'ror': 0.9911062936880081,
  'sell_date': '2018-05',
  'sell_price': 45.689998626708984,
  'ticker': 'EEM'},
 {'buy_date': '2018-05',
  'buy_price': 170.07000732421875,
  'ror': 1.0092902128783563,
  'sell_date': '2018-06',
  'sell_price': 171.64999389648438,
  'ticker': 'QQQ'},
 {'buy_date': '2018-06',
  'buy_price': 43.33000183105469,
  'ror': 1.0353103788285631,
  'sell_date': '2018-07',
  'sell_price': 44.86000061035156,
  'ticker': 'EEM'},
 {'buy_date': '2018-07',
  'buy_price': 176.4499969482422,
  'ror': 0.9530178893198592,
  'sell_date': '2019-01',
  'sell_price': 168.16000366210938,
  'ticker': 'QQQ'},
 {'buy_date': '2019-01',
  'buy_price': 1.8699468704980613,
  'ror': 1.0059869080391666,
  'sell_date': '2019-04',
  'sell_price': 1.8811420704498605,
  'ticker': 'TB3MS'},
 {'buy_date': '2019-04',
  'buy_price': 189.5399932861328,
  'ror': 0.9177482489705711,
  'sell_date': '2019-05',
  'sell_price': 173.9499969482422,
  'ticker': 'QQQ'},
 {'buy_date': '2019-05',
  'buy_price': 275.2699890136719,
  'ror': 1.0644095313472313,
  'sell_date': '2019-06',
  'sell_price': 293.0,
  'ticker': 'SPY'},
 {'buy_date': '2019-06',
  'buy_price': 186.74000549316406,
  'ror': 1.003909155542816,
  'sell_date': '2019-08',
  'sell_price': 187.47000122070312,
  'ticker': 'QQQ'},
 {'buy_date': '2019-08',
  'buy_price': 143.75,
  'ror': 0.9940869140625,
  'sell_date': '2019-12',
  'sell_price': 142.89999389648438,
  'ticker': 'GLD'},
 {'buy_date': '2019-12',
  'buy_price': 212.61000061035156,
  'ror': 1.0296317343195147,
  'sell_date': '2020-04',
  'sell_price': 218.91000366210938,
  'ticker': 'QQQ'},
 {'buy_date': '2020-04',
  'buy_price': 158.8000030517578,
  'ror': 1.1639168657371681,
  'sell_date': '2020-08',
  'sell_price': 184.8300018310547,
  'ticker': 'GLD'},
 {'buy_date': '2020-08',
  'buy_price': 294.8800048828125,
  'ror': 1.1461950103015452,
  'sell_date': '2021-04',
  'sell_price': 337.989990234375,
  'ticker': 'QQQ'},
 {'buy_date': '2021-04',
  'buy_price': 53.97999954223633,
  'ror': 0.955909575985583,
  'sell_date': '2021-07',
  'sell_price': 51.599998474121094,
  'ticker': 'EEM'},
 {'buy_date': '2021-07',
  'buy_price': 438.510009765625,
  'ror': 1.0297598401458241,
  'sell_date': '2021-08',
  'sell_price': 451.55999755859375,
  'ticker': 'SPY'},
 {'buy_date': '2021-08',
  'buy_price': 52.40999984741211,
  'ror': 0.961266956969909,
  'sell_date': '2021-09',
  'sell_price': 50.380001068115234,
  'ticker': 'EEM'},
 {'buy_date': '2021-09',
  'buy_price': 429.1400146484375,
  'ror': 1.0701635464505201,
  'sell_date': '2021-10',
  'sell_price': 459.25,
  'ticker': 'SPY'},
 {'buy_date': '2021-10',
  'buy_price': 386.1099853515625,
  'ror': 1.0304058977942867,
  'sell_date': '2021-12',
  'sell_price': 397.8500061035156,
  'ticker': 'QQQ'}]

In [35]:
holding = holdings.pop()
holding["up_to_date"] = closes_df.index[-1]
holding["current_price"] = closes_df[holding["ticker"]][-1]
holding["ror"] = (holding["current_price"] - holding["buy_price"]) / holding["buy_price"] + 1
transactions.append(holding)

In [36]:
transactions

[{'buy_date': '1993-02',
  'buy_price': 1.0024416666666667,
  'ror': 1.0306472100900856,
  'sell_date': '1994-02',
  'sell_price': 1.0331637070280557,
  'ticker': 'TB3MS'},
 {'buy_date': '1994-02',
  'buy_price': 46.8125,
  'ror': 0.9499332443257676,
  'sell_date': '1994-06',
  'sell_price': 44.46875,
  'ticker': 'SPY'},
 {'buy_date': '1994-06',
  'buy_price': 1.046538629375492,
  'ror': 1.0198810358564117,
  'sell_date': '1994-11',
  'sell_price': 1.067344901391226,
  'ticker': 'TB3MS'},
 {'buy_date': '1994-11',
  'buy_price': 45.59375,
  'ror': 0.9993145990404386,
  'sell_date': '1994-12',
  'sell_price': 45.5625,
  'ticker': 'SPY'},
 {'buy_date': '1994-12',
  'buy_price': 1.072325844264385,
  'ror': 1.0191865184036843,
  'sell_date': '1995-04',
  'sell_price': 1.09290004381011,
  'ticker': 'TB3MS'},
 {'buy_date': '1995-04',
  'buy_price': 51.59375,
  'ror': 2.250757116898849,
  'sell_date': '1998-11',
  'sell_price': 116.125,
  'ticker': 'SPY'},
 {'buy_date': '1998-11',
  'buy_price': 1.3087603551154026,
  'ror': 1.0036583333333333,
  'sell_date': '1998-12',
  'sell_price': 1.3135482367478664,
  'ticker': 'TB3MS'},
 {'buy_date': '1998-12',
  'buy_price': 123.3125,
  'ror': 1.176634566649772,
  'sell_date': '2000-04',
  'sell_price': 145.09375,
  'ticker': 'SPY'},
 {'buy_date': '2000-04',
  'buy_price': 94.75,
  'ror': 0.616094986807388,
  'sell_date': '2000-12',
  'sell_price': 58.375,
  'ticker': 'QQQ'},
 {'buy_date': '2000-12',
  'buy_price': 1.4579794985814138,
  'ror': 1.057686306666081,
  'sell_date': '2003-07',
  'sell_price': 1.5420849510494405,
  'ticker': 'TB3MS'},
 {'buy_date': '2003-07',
  'buy_price': 31.799999237060547,
  'ror': 1.1493710727660718,
  'sell_date': '2004-05',
  'sell_price': 36.54999923706055,
  'ticker': 'QQQ'},
 {'buy_date': '2004-05',
  'buy_price': 17.794443130493164,
  'ror': 1.1077739832077325,
  'sell_date': '2004-10',
  'sell_price': 19.712221145629883,
  'ticker': 'EEM'},
 {'buy_date': '2004-10',
  'buy_price': 113.19999694824219,
  'ror': 1.0414311180904945,
  'sell_date': '2004-11',
  'sell_price': 117.88999938964844,
  'ticker': 'SPY'},
 {'buy_date': '2004-11',
  'buy_price': 21.67333221435547,
  'ror': 1.4780068199891085,
  'sell_date': '2006-07',
  'sell_price': 32.03333282470703,
  'ticker': 'EEM'},
 {'buy_date': '2006-07',
  'buy_price': 63.15999984741211,
  'ror': 1.026440816777662,
  'sell_date': '2007-01',
  'sell_price': 64.83000183105469,
  'ticker': 'GLD'},
 {'buy_date': '2007-01',
  'buy_price': 143.75,
  'ror': 0.9803825577445652,
  'sell_date': '2007-02',
  'sell_price': 140.92999267578125,
  'ticker': 'SPY'},
 {'buy_date': '2007-02',
  'buy_price': 66.4800033569336,
  'ror': 0.9888687506649038,
  'sell_date': '2007-03',
  'sell_price': 65.73999786376953,
  'ticker': 'GLD'},
 {'buy_date': '2007-03',
  'buy_price': 38.83333206176758,
  'ror': 1.0372532214137138,
  'sell_date': '2007-04',
  'sell_price': 40.279998779296875,
  'ticker': 'EEM'},
 {'buy_date': '2007-04',
  'buy_price': 148.2899932861328,
  'ror': 1.0339201177815167,
  'sell_date': '2007-05',
  'sell_price': 153.32000732421875,
  'ticker': 'SPY'},
 {'buy_date': '2007-05',
  'buy_price': 42.31999969482422,
  'ror': 1.1551669588083002,
  'sell_date': '2008-04',
  'sell_price': 48.88666534423828,
  'ticker': 'EEM'},
 {'buy_date': '2008-04',
  'buy_price': 86.6500015258789,
  'ror': 1.0537795262625944,
  'sell_date': '2009-01',
  'sell_price': 91.30999755859375,
  'ticker': 'GLD'},
 {'buy_date': '2009-01',
  'buy_price': 1.7976990599792697,
  'ror': 1.0005584337558333,
  'sell_date': '2009-04',
  'sell_price': 1.798702955817192,
  'ticker': 'TB3MS'},
 {'buy_date': '2009-04',
  'buy_price': 87.2699966430664,
  'ror': 1.0448035271285876,
  'sell_date': '2009-06',
  'sell_price': 91.18000030517578,
  'ticker': 'GLD'},
 {'buy_date': '2009-06',
  'buy_price': 1.799242607174754,
  'ror': 1.0002916879166668,
  'sell_date': '2009-08',
  'sell_price': 1.7997674245024189,
  'ticker': 'TB3MS'},
 {'buy_date': '2009-08',
  'buy_price': 93.4000015258789,
  'ror': 1.0583511441028417,
  'sell_date': '2009-09',
  'sell_price': 98.8499984741211,
  'ticker': 'GLD'},
 {'buy_date': '2009-09',
  'buy_price': 106.68000030517578,
  'ror': 0.9906261717553493,
  'sell_date': '2009-10',
  'sell_price': 105.68000030517578,
  'ticker': 'LQD'},
 {'buy_date': '2009-10',
  'buy_price': 37.56999969482422,
  'ror': 1.014106967889326,
  'sell_date': '2010-05',
  'sell_price': 38.099998474121094,
  'ticker': 'EEM'},
 {'buy_date': '2010-05',
  'buy_price': 45.599998474121094,
  'ror': 0.9530701872531218,
  'sell_date': '2010-08',
  'sell_price': 43.459999084472656,
  'ticker': 'QQQ'},
 {'buy_date': '2010-08',
  'buy_price': 122.08000183105469,
  'ror': 1.248115930797993,
  'sell_date': '2011-04',
  'sell_price': 152.3699951171875,
  'ticker': 'GLD'},
 {'buy_date': '2011-04',
  'buy_price': 59.08000183105469,
  'ror': 0.9817196716726065,
  'sell_date': '2011-07',
  'sell_price': 58.0,
  'ticker': 'QQQ'},
 {'buy_date': '2011-07',
  'buy_price': 158.2899932861328,
  'ror': 1.1227494393751578,
  'sell_date': '2011-08',
  'sell_price': 177.72000122070312,
  'ticker': 'GLD'},
 {'buy_date': '2011-08',
  'buy_price': 55.060001373291016,
  'ror': 1.0524881823023409,
  'sell_date': '2011-10',
  'sell_price': 57.95000076293945,
  'ticker': 'QQQ'},
 {'buy_date': '2011-10',
  'buy_price': 167.33999633789062,
  'ror': 0.9060595101904896,
  'sell_date': '2012-05',
  'sell_price': 151.6199951171875,
  'ticker': 'GLD'},
 {'buy_date': '2012-05',
  'buy_price': 62.060001373291016,
  'ror': 1.0775056601168738,
  'sell_date': '2013-01',
  'sell_price': 66.87000274658203,
  'ticker': 'QQQ'},
 {'buy_date': '2013-01',
  'buy_price': 149.6999969482422,
  'ror': 1.0127588757584929,
  'sell_date': '2013-02',
  'sell_price': 151.61000061035156,
  'ticker': 'SPY'},
 {'buy_date': '2013-02',
  'buy_price': 120.33000183105469,
  'ror': 1.0149588248564188,
  'sell_date': '2013-04',
  'sell_price': 122.12999725341797,
  'ticker': 'LQD'},
 {'buy_date': '2013-04',
  'buy_price': 159.67999267578125,
  'ror': 1.1566258198446064,
  'sell_date': '2013-12',
  'sell_price': 184.69000244140625,
  'ticker': 'SPY'},
 {'buy_date': '2013-12',
  'buy_price': 87.95999908447266,
  'ror': 1.2962710076152564,
  'sell_date': '2015-11',
  'sell_price': 114.0199966430664,
  'ticker': 'QQQ'},
 {'buy_date': '2015-11',
  'buy_price': 1.8074022791283015,
  'ror': 1.000408374861111,
  'sell_date': '2016-01',
  'sell_price': 1.8081403767830124,
  'ticker': 'TB3MS'},
 {'buy_date': '2016-01',
  'buy_price': 104.12999725341797,
  'ror': 1.0152694133220383,
  'sell_date': '2016-04',
  'sell_price': 105.72000122070312,
  'ticker': 'QQQ'},
 {'buy_date': '2016-04',
  'buy_price': 1.8093912933952507,
  'ror': 1.000225,
  'sell_date': '2016-05',
  'sell_price': 1.8097984064362644,
  'ticker': 'TB3MS'},
 {'buy_date': '2016-05',
  'buy_price': 116.05999755859375,
  'ror': 0.9956057684166462,
  'sell_date': '2017-01',
  'sell_price': 115.55000305175781,
  'ticker': 'GLD'},
 {'buy_date': '2017-01',
  'buy_price': 37.34000015258789,
  'ror': 1.054900889895108,
  'sell_date': '2017-03',
  'sell_price': 39.38999938964844,
  'ticker': 'EEM'},
 {'buy_date': '2017-03',
  'buy_price': 235.74000549316406,
  'ror': 1.0099261741043715,
  'sell_date': '2017-04',
  'sell_price': 238.0800018310547,
  'ticker': 'SPY'},
 {'buy_date': '2017-04',
  'buy_price': 135.99000549316406,
  'ror': 1.1408926217322892,
  'sell_date': '2017-11',
  'sell_price': 155.14999389648438,
  'ticker': 'QQQ'},
 {'buy_date': '2017-11',
  'buy_price': 46.099998474121094,
  'ror': 0.9911062936880081,
  'sell_date': '2018-05',
  'sell_price': 45.689998626708984,
  'ticker': 'EEM'},
 {'buy_date': '2018-05',
  'buy_price': 170.07000732421875,
  'ror': 1.0092902128783563,
  'sell_date': '2018-06',
  'sell_price': 171.64999389648438,
  'ticker': 'QQQ'},
 {'buy_date': '2018-06',
  'buy_price': 43.33000183105469,
  'ror': 1.0353103788285631,
  'sell_date': '2018-07',
  'sell_price': 44.86000061035156,
  'ticker': 'EEM'},
 {'buy_date': '2018-07',
  'buy_price': 176.4499969482422,
  'ror': 0.9530178893198592,
  'sell_date': '2019-01',
  'sell_price': 168.16000366210938,
  'ticker': 'QQQ'},
 {'buy_date': '2019-01',
  'buy_price': 1.8699468704980613,
  'ror': 1.0059869080391666,
  'sell_date': '2019-04',
  'sell_price': 1.8811420704498605,
  'ticker': 'TB3MS'},
 {'buy_date': '2019-04',
  'buy_price': 189.5399932861328,
  'ror': 0.9177482489705711,
  'sell_date': '2019-05',
  'sell_price': 173.9499969482422,
  'ticker': 'QQQ'},
 {'buy_date': '2019-05',
  'buy_price': 275.2699890136719,
  'ror': 1.0644095313472313,
  'sell_date': '2019-06',
  'sell_price': 293.0,
  'ticker': 'SPY'},
 {'buy_date': '2019-06',
  'buy_price': 186.74000549316406,
  'ror': 1.003909155542816,
  'sell_date': '2019-08',
  'sell_price': 187.47000122070312,
  'ticker': 'QQQ'},
 {'buy_date': '2019-08',
  'buy_price': 143.75,
  'ror': 0.9940869140625,
  'sell_date': '2019-12',
  'sell_price': 142.89999389648438,
  'ticker': 'GLD'},
 {'buy_date': '2019-12',
  'buy_price': 212.61000061035156,
  'ror': 1.0296317343195147,
  'sell_date': '2020-04',
  'sell_price': 218.91000366210938,
  'ticker': 'QQQ'},
 {'buy_date': '2020-04',
  'buy_price': 158.8000030517578,
  'ror': 1.1639168657371681,
  'sell_date': '2020-08',
  'sell_price': 184.8300018310547,
  'ticker': 'GLD'},
 {'buy_date': '2020-08',
  'buy_price': 294.8800048828125,
  'ror': 1.1461950103015452,
  'sell_date': '2021-04',
  'sell_price': 337.989990234375,
  'ticker': 'QQQ'},
 {'buy_date': '2021-04',
  'buy_price': 53.97999954223633,
  'ror': 0.955909575985583,
  'sell_date': '2021-07',
  'sell_price': 51.599998474121094,
  'ticker': 'EEM'},
 {'buy_date': '2021-07',
  'buy_price': 438.510009765625,
  'ror': 1.0297598401458241,
  'sell_date': '2021-08',
  'sell_price': 451.55999755859375,
  'ticker': 'SPY'},
 {'buy_date': '2021-08',
  'buy_price': 52.40999984741211,
  'ror': 0.961266956969909,
  'sell_date': '2021-09',
  'sell_price': 50.380001068115234,
  'ticker': 'EEM'},
 {'buy_date': '2021-09',
  'buy_price': 429.1400146484375,
  'ror': 1.0701635464505201,
  'sell_date': '2021-10',
  'sell_price': 459.25,
  'ticker': 'SPY'},
 {'buy_date': '2021-10',
  'buy_price': 386.1099853515625,
  'ror': 1.0304058977942867,
  'sell_date': '2021-12',
  'sell_price': 397.8500061035156,
  'ticker': 'QQQ'},
 {'buy_date': '2021-12',
  'buy_price': 474.9599914550781,
  'current_price': 449.9100036621094,
  'ror': 0.9472587412758154,
  'ticker': 'SPY',
  'up_to_date': '2022-01'}]

In [43]:
len(transactions), np.prod(list(map(lambda x: x["ror"], transactions)))

(63, 16.724895380359744)

# normalized closes

In [37]:
mrr_df = closes_df.apply(lambda x: round((x.shift(-1) - x) / x, 6) + 1, axis=0)

In [38]:
mrr_df.drop(mrr_df.tail(1).index, inplace=True)

In [39]:
mrr_df

              EEM       GLD       LQD       QQQ       SPY     TB3MS
Date
1993-02       NaN       NaN       NaN       NaN  1.017593  1.002458
1993-03       NaN       NaN       NaN       NaN  0.974412  1.002392
1993-04       NaN       NaN       NaN       NaN  1.026969  1.002467
1993-05       NaN       NaN       NaN       NaN  0.996545  1.002558
1993-06       NaN       NaN       NaN       NaN  0.995146  1.002533
...           ...       ...       ...       ...       ...       ...
2021-08  0.961267  0.967765  0.983222  0.942124  0.950350  1.000033
2021-09  1.010718  1.014797  1.003383  1.078640  1.070164  1.000042
2021-10  0.959152  0.993099  0.996853  1.019968  0.991965  1.000042
2021-11  1.000205  1.032991  0.995942  1.010233  1.042585  1.000050
2021-12  0.999795  0.983212  0.964081  0.912530  0.947259  1.000125

[347 rows x 6 columns]

In [40]:
idx, cols = pd.factorize(winners[:-1])
winner_mrr = mrr_df.reindex(cols, axis=1).to_numpy()[np.arange(len(idx)), idx]

In [41]:
winner_mrr

array([1.002458, 1.002392, 1.002467, 1.002558, 1.002533, 1.002517,
       1.002458, 1.002517, 1.002583, 1.00255 , 1.002483, 1.002708,
       0.952603, 1.011212, 1.015939, 0.970668, 1.003608, 1.003733,
       1.00385 , 1.004125, 1.004408, 0.999315, 1.004758, 1.004808,
       1.004775, 1.004708, 1.039673, 1.014273, 1.032165, 1.004452,
       1.036842, 0.997061, 1.04448 , 1.009492, 1.035578, 1.00319 ,
       1.01272 , 1.01087 , 1.0227  , 1.003505, 0.955064, 1.019259,
       1.050466, 1.032332, 1.073004, 0.971429, 1.061786, 1.009566,
       0.952231, 1.062604, 1.063207, 1.037064, 1.079264, 0.948197,
       1.04426 , 0.975497, 1.038697, 1.015033, 1.012878, 1.069294,
       1.045779, 1.012791, 0.979231, 1.039266, 0.986486, 0.85882 ,
       1.059896, 1.081081, 1.055682, 1.003658, 1.035226, 0.967931,
       1.038948, 1.037975, 0.977134, 1.052202, 0.968978, 0.994821,
       0.974917, 1.064078, 1.016651, 1.054521, 0.950213, 0.984774,
       1.094134, 0.964879, 0.877309, 1.12406 , 0.957191, 1.136268,
       0.873309, 0.920599, 0.770893, 0.926817, 1.004292, 1.004067,
       1.003683, 1.003225, 1.003017, 1.002908, 1.002925, 1.0028  ,
       1.0022  , 1.0018  , 1.001558, 1.001408, 1.001375, 1.001433,
       1.001492, 1.001425, 1.001442, 1.001417, 1.0014  , 1.00135 ,
       1.001358, 1.001317, 1.001025, 1.000992, 1.000975, 1.000975,
       1.000942, 1.000942, 1.000892, 1.000767, 1.00075 , 1.05    ,
       0.970949, 1.085133, 1.005685, 1.030526, 1.016731, 0.986512,
       0.980038, 0.970145, 1.051194, 1.009241, 0.963621, 1.035313,
       1.069767, 1.028464, 1.041431, 1.03481 , 0.994699, 1.096822,
       0.920897, 0.987525, 1.031607, 1.03969 , 1.076816, 1.01323 ,
       1.086533, 0.936616, 1.057862, 1.049346, 1.141983, 0.9615  ,
       1.021672, 1.065152, 0.888573, 1.002134, 1.023429, 0.986225,
       0.954728, 1.012948, 1.068891, 0.981674, 1.025629, 0.980383,
       0.988869, 1.037253, 1.03392 , 1.036783, 1.007141, 1.01041 ,
       1.115715, 1.118702, 0.9235  , 0.973446, 0.910778, 1.019943,
       0.962469, 1.091383, 1.009232, 1.045169, 0.985558, 0.907083,
       1.041121, 0.838603, 1.125736, 1.077325, 1.055363, 1.00025 ,
       1.000175, 1.000133, 1.102326, 0.947817, 1.00015 , 1.000142,
       1.058351, 0.990626, 1.07852 , 1.024186, 0.92241 , 1.017764,
       1.081109, 0.998338, 0.906064, 0.936623, 1.072583, 0.948701,
       1.047756, 1.036823, 1.021113, 1.024369, 0.936202, 1.059983,
       1.015981, 1.089447, 0.987813, 0.977553, 1.016652, 1.122749,
       0.953324, 1.10402 , 1.016673, 0.893376, 1.113955, 0.97035 ,
       0.986792, 0.99852 , 0.93662 , 1.033838, 1.009975, 1.051852,
       1.006015, 0.947207, 1.013087, 0.989818, 1.026716, 1.012759,
       0.996426, 1.018599, 1.02361 , 0.981462, 1.051677, 0.970008,
       1.026642, 1.046307, 1.029638, 1.020387, 0.980787, 1.047177,
       0.970445, 0.996806, 1.044856, 1.028474, 1.01182 , 1.050095,
       0.990078, 1.02642 , 1.045464, 0.973965, 0.979177, 1.072206,
       0.97417 , 1.019223, 1.022484, 0.972921, 1.045578, 0.931755,
       0.975554, 1.113699, 1.006088, 1.000192, 1.000217, 0.984347,
       1.065366, 0.968132, 1.000225, 1.089695, 1.019847, 0.967437,
       1.006892, 0.970551, 0.916434, 0.98085 , 1.054192, 1.017408,
       1.036852, 1.009926, 1.038973, 0.974167, 1.040613, 1.020736,
       0.99487 , 1.046064, 1.019717, 1.022126, 1.08298 , 0.941015,
       1.005414, 0.971831, 0.973785, 1.00929 , 1.03531 , 1.057807,
       0.995392, 0.914043, 0.99735 , 0.910787, 1.090108, 1.001992,
       1.002   , 1.001983, 0.917748, 1.06441 , 1.023348, 0.981005,
       0.966052, 1.025635, 0.967914, 1.036559, 1.030384, 0.939426,
       0.92517 , 1.149737, 1.025882, 1.027377, 1.107905, 0.996764,
       0.942214, 0.969551, 1.112258, 1.047126, 1.002614, 0.998665,
       1.015885, 1.059098, 1.016488, 1.005103, 0.93563 , 1.02976 ,
       0.961267, 1.070164, 1.019968, 1.010233, 0.947259])

In [42]:
winner_mrr.cumprod()

array([ 1.002458  ,  1.00485588,  1.00733486,  1.00991162,  1.01246973,
        1.01501811,  1.01751303,  1.02007411,  1.02270896,  1.02531687,
        1.02786273,  1.03064618,  0.98179665,  0.99280455,  1.00862886,
        0.97904376,  0.98257615,  0.98624411,  0.99004115,  0.99412507,
        0.99850717,  0.99782319,  1.00257083,  1.00739119,  1.01220149,
        1.01696693,  1.05731306,  1.07240409,  1.10689797,  1.11182588,
        1.15278777,  1.14939972,  1.20052502,  1.21192041,  1.25503811,
        1.25904168,  1.27505669,  1.28891656,  1.31817496,  1.32279517,
        1.26335404,  1.28768498,  1.35266929,  1.39640379,  1.49834686,
        1.45553759,  1.54546943,  1.56025339,  1.48572165,  1.57873377,
        1.67852079,  1.74073349,  1.87871099,  1.78138812,  1.86023236,
        1.81465109,  1.88487264,  1.91320793,  1.93784622,  2.07212734,
        2.16698726,  2.19470519,  2.14912336,  2.23351083,  2.20332717,
        1.89226144,  2.00560033,  2.16821641,  2.28894704,  2.29732001,
        2.3782454 ,  2.30197745,  2.39163487,  2.4824572 ,  2.42569333,
        2.55231938,  2.47314133,  2.46033293,  2.3986204 ,  2.55231919,
        2.59481786,  2.73628992,  2.60005826,  2.56046977,  2.80149703,
        2.70310566,  2.37145892,  2.66566211,  2.55154778,  2.8992421 ,
        2.53193422,  2.33089611,  1.79687149,  1.66537105,  1.67251882,
        1.67932095,  1.68550589,  1.69094165,  1.69604322,  1.70097531,
        1.70595067,  1.71072733,  1.71449093,  1.71757701,  1.720253  ,
        1.72267511,  1.72504379,  1.72751578,  1.73009323,  1.73255862,
        1.73505697,  1.73751554,  1.73994806,  1.74229699,  1.74466303,
        1.74696075,  1.74875139,  1.75048615,  1.75219287,  1.75390126,
        1.75555344,  1.75720717,  1.7587746 ,  1.76012358,  1.76144367,
        1.84951585,  1.79578557,  1.94866618,  1.95974435,  2.0195675 ,
        2.05335689,  2.02566121,  1.98522496,  1.92595607,  2.02455346,
        2.04326236,  1.96893052,  2.03845937,  2.18067656,  2.24274734,
        2.3356666 ,  2.41697116,  2.40415879,  2.63693426,  2.42834484,
        2.39805124,  2.47384645,  2.57203341,  2.76960673,  2.80624863,
        3.04908174,  2.85581875,  3.02106213,  3.17013946,  3.62024537,
        3.48086593,  3.55630325,  3.78800352,  3.36591765,  3.37310052,
        3.45212889,  3.40457582,  3.25044386,  3.29253061,  3.51935633,
        3.45486061,  3.54340523,  3.47389425,  3.43522634,  3.56319882,
        3.68406253,  3.8195734 ,  3.84684897,  3.88689467,  4.33666669,
        4.8514377 ,  4.48030271,  4.36133275,  3.97220592,  4.05142363,
        3.89936965,  4.25570574,  4.29499442,  4.48899502,  4.42416495,
        4.01308482,  4.17810688,  3.50377296,  3.94432336,  4.24931816,
        4.48457317,  4.48569431,  4.48647931,  4.48707601,  4.94622055,
        4.68811192,  4.68881514,  4.68948095,  4.96311685,  4.91659259,
        5.30264345,  5.43089318,  5.00951018,  5.09849912,  5.51203328,
        5.50287228,  4.98595447,  4.66995963,  5.00891932,  4.75196676,
        4.97890169,  5.16223978,  5.27123015,  5.39968476,  5.05519567,
        5.35842147,  5.44405441,  5.93100874,  5.85872754,  5.72721668,
        5.82258629,  6.53730294,  6.23216779,  6.88043788,  6.99515542,
        6.24930397,  6.9614434 ,  6.75503661,  6.66581608,  6.65595068,
        6.23409652,  6.44504588,  6.50933521,  6.84685726,  6.88804111,
        6.52440075,  6.60978559,  6.54248475,  6.71727377,  6.80297947,
        6.77866562,  6.90474202,  7.06776298,  6.93674079,  7.29521074,
        7.07641278,  7.26494257,  7.60136027,  7.82664938,  7.98621129,
        7.83277221,  8.2022989 ,  7.95987996,  7.9344561 ,  8.29036406,
        8.52642389,  8.62720622,  9.05938612,  8.96949889,  9.20647305,
        9.62503614,  9.37444832,  9.17924419,  9.84204069,  9.58782078,
        9.77212746,  9.99184397,  9.72127483, 10.16435109,  9.47068495,
        9.23916459, 10.28964836, 10.35229174, 10.35427938, 10.35652626,
       10.19441556, 10.86078372, 10.51467227, 10.51703807, 11.4603638 ,
       11.68781764, 11.30722723, 11.38515664, 11.04987517, 10.1264813 ,
        9.93255918, 10.47082443, 10.65310054, 11.0456886 , 11.15532811,
       11.59008471, 11.29067805, 11.74922636, 11.99285832, 11.93133495,
       12.48093997, 12.72702666, 13.00862485, 14.08808054, 13.25709511,
       13.32886902, 12.95340811, 12.61383452, 12.73101704, 13.18054925,
       13.94247726, 13.87823033, 12.68529928, 12.65168324, 11.52298862,
       12.56130208, 12.5863242 , 12.61149684, 12.63650544, 11.5971276 ,
       12.34409859, 12.6323086 , 12.3923579 , 11.97166213, 12.27855569,
       11.88458595, 12.31907453, 12.69337729, 11.92448865, 11.03217917,
       12.68410458, 13.01239458, 13.3686349 , 14.81117745, 14.76324848,
       13.9101394 , 13.48658957, 15.00056714, 15.70748387, 15.74854323,
       15.72751893, 15.97735056, 16.92158003, 17.20058304, 17.28835761,
       16.17550604, 16.65688909, 16.01171781, 17.13516398, 17.47731893,
       17.65616434, 16.72496057])